@if (!registerMode()) {
  <div
    class="hero min-h-screen"
    style="
      background-image: url(https://res.cloudinary.com/dgooj7git/image/upload/v1770048257/two_hands_flower_enxbrj.webp);
    "
  >
    <div class="hero-overlay"></div>
    <div class="hero-content text-neutral-content text-center">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">
          Build empathy. Strengthen connections.
        </h1>
        <p class="mb-5">
          EMPATH helps you understand emotions—yours and others’—so you can
          build healthier connections, make thoughtful decisions, and respond
          with clarity instead of impulse.
        </p>
        <button (click)="showRegister()" class="btn btn-primary">
          Register now
        </button>
        <div class="divider divider-accent my-1"></div>
        <button class="btn btn-secondary btn-sm">Learn More</button>
      </div>
    </div>
  </div>

  <div class="card bg-base-100 w-96 mx-auto !shadow-2xl mt-10">
    <div class="card-body p-10">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#FF6B6B"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z"
        />
      </svg>

      <h2 class="card-title" style="color: #00d9ff">{{ title }}</h2>
      <ul class="space-y-4">
        @for (member of members(); track member.id) {
          <li class="flex items-center gap-3">
            <div class="flex-shrink-0">
              <div class="w-12 h-12 rounded-lg overflow-hidden">
                <img
                  src="./user.png"
                  alt="user avatar"
                  class="w-full h-full object-cover"
                />
              </div>
            </div>
            <div>
              <div class="font-semibold">{{ member.knownAs }}</div>
              <div class="text-sm opacity-70">{{ member.gender }}</div>
            </div>
          </li>
          @if (!last) {
            <div class="divider divider-neutral my-1"></div>
          }
        }
      </ul>
    </div>
  </div>
} @else {
  <div class="pt-24 text-2xl text-center flex justify-center">
    <app-register></app-register>
  </div>
}
